.nccard
{
    text-align: center;
}

.nccard img
{
    width: 280px;
    height: 280px;
	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	border-radius: 50em;
}

.nccard table
{
    margin: auto;
}

.nccard table tr th
{
    text-align: left;
    padding-right: 10px;
}

.nccard table tr td
{
    text-align: left;
}

.nccard h1
{
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 20px;
}